################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Calculate/Cal/.vs/Cal/v15
/Calculate/Cal/Cal/obj/Debug
/Calculate/Cal/Cal/bin/Debug
/ShapesProgram/.vs
/ShapesProgram/ShapesProgram/obj/Debug
/ShapesProgram/ShapesProgram/bin/Debug
